*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    /* background: linear-gradient(90deg, rgba(73, 2, 100, 0.959), rgba(172, 37, 226, 0.959));} */
    background: linear-gradient(90deg, rgba(101, 114, 25, 0.959), rgb(99, 84, 20));}
.heading{
    margin-top: 10px;
    cursor: pointer;
    /* letter-spacing: 2px; */
    user-select: none;
    text-align: center;
    /* color:#ffffff; */
    color: #ebec87;
    /* color: silver; */
    text-transform: capitalize;
    border-bottom: 1px solid #bbb19f;
    /* animation: ima 2s linear 2s infinite; */
}
.heading span{
    display: inline-block;
    animation: bounce 2s ease infinite;
}
.heading span:nth-child(1){
    animation-delay: 0.2s;
    /* text-decoration: 2px dotted pink ; */
}
.heading span:nth-child(2){
    animation-delay: 0.4s;
}
.heading span:nth-child(3){
    
    /* color: #c5c4c0; */
    animation-delay: 0.6s;
}
.heading span:nth-child(4){
    /* color: rgb(123, 170, 170); */
    color: #2e3322;
    animation-delay: 0.8s;
}
@keyframes bounce{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
}

/* @keyframes ima{
    0%{background-color: linear-gradient( rgb(0, 0, 0)rgb(23, 122, 23)); 
        color: rgba(82, 0, 68, 0.938);}
    50%{
        background-color: aqua;
    }
    100%{
        background-color: rgb(156, 156, 63);
    }
} */
/* .heading::after{
    content: "";
    background: linear-gradient(100deg, #ffa500, rgb(218, 213, 125));
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    padding-right: 20px;


} */
/* .heading::before{
    content: "'-'";
    background: linear-gradient(10deg, #d6d4d1, rgb(0, 0, 0));
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
     padding-left: 20px; 


}
*/
.heading:hover{
    border-bottom: 1px solid rgb(107, 85, 85);
}
#time{
    font-size: 20px;
    font-weight: 500;
    font-family: monospace;
    color: #bbb19f;
    text-align: center;
    display: block;


}
.container{
    width: 100%;
    height: 110%;
    max-width: 400px;
    min-height: 65vh;
    border-radius: 20px;
    margin: 12px auto ;
    font-weight: 400;
    box-shadow: 1px 1px 1px 1px;
    /* margin: 10px;
    border-radius: 10px; */
    /* background-color: #d1a4f7; */
    background-color: #ebec87;
}
.main-container{
    text-align: center;

}
 h2{
    color: #2e3322;
    /* color: #4c0a83; */
    padding: 12px;
    font-size: 25px;
    font-weight: 800;
  animation: ima 5s linear 2s infinite;
}
@keyframes ima{
    0%{
        color: rgba(158, 243, 132, 0.938);}
    50%{
        color: rgb(19, 33, 59);
    }
    100%{
        color: rgb(255, 140, 87);
    }
}
.worlds{
    text-transform: capitalize;
    /* color: whitesmoke; */
    color: #2e3322;
    font-weight: 600;
    font-size: 20px;

}
.worlds span{
    font-weight: 600;
    font-size: 20px;
    /* color: white; */
    color: #2e3322;
}
img {
    width: 120px;
    height: 120px;
    mix-blend-mode: darken;
    color: white;
    border: 2px solid rgb(255, 253, 253);
}
img:hover{
    background-color: #f6f0fc;
}
.rang{
    text-transform: capitalize;
    /* color: whitesmoke; */
    /* font-weight: 600; */
    font-size: 20px;
    background-color: #2e3322;

    color: #fffffe;
    margin: 1px auto;
    width: fit-content;

}
#chance{
    text-transform: capitalize;
    /* color: whitesmoke; */
    font-weight: 600;
    font-size: 20px;
    background-color: #fcf8ff;
    color: #2e3322;
    margin: 5px auto;
    width: fit-content;


}

#outPut{
    font-family: monospace;
    text-transform: capitalize;
    /* color: rgb(127, 16, 231); */
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-size: 17px;
    border-left: 1px solid white;
    width: 90%;
    border-radius: 17px;
    background-color: #2e3322;
    margin: 12px auto;
    box-shadow: 1px 1px 1px 1px;

}
.input-field{
    display: block;
    /* justify-content: space-between; */
    background-color:#ebec87;
 

    width: 100%;
    margin: 20px auto;
    height: 40px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    /* padding: 3px; */
    /* padding-top: 40px; */
    border-radius: 40px;
    /* box-shadow: 1px 1px 1px 0px; */

}
input{
    flex: 1;
    display: block;
    border: none;
    outline: none;
    border-bottom: 2px solid #4c0a83;
    color:#2e3322;
    border-radius: 40px;
    text-align: center;
    margin: 5px auto;
    width: 80%;
    height: 100%;
    /* padding-left: 6px; */
    background: transparent;
    font-family: monospace;
    font-size: 20px;

}
button{
    border: 1px solid whitesmoke;
    /* outline: none; */
    width: 100px;
height: 40px;
margin: 3px;
padding: 5px;
font-weight: 600;
font-size: 17px;

color: rgb(255, 255, 255);
border-radius: 20px;
user-select: none;
cursor: pointer;
background-color: #2e3322;
}
